
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/Scripts/jquery-2.2.0.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Project Manager</title>
    <link rel="stylesheet" href="flags.css">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        #blockLeft, #blockRight {
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 15px;
        }

        #blockLeft {
            padding-top: 15px;
            float: left;
            width: auto;
            height: 100%;
        }

        #blockRight {
            width: auto;
            height: 100%;
        }

        #blockDown {
            padding-top: 10px;
        }

        #skillsSector {
            width: 100%;
        }
    </style>
    <script>
        $(".menuLinks").click(function() {
            history.pushState(stateObj, $(this).html, $(this).attr("href"));
        })
    </script>
</head>
<body>

    <div style="background-color: white">
        <div class="container">
            <div class="col-md-12">
                <div class="row" style="width:100%">


                    <!DOCTYPE html>
                    <html>
                    <head>
                        <title></title>
                        <meta charset="utf-8" />
                        <style type="text/css">
                            html {
                            }

                            body {
                                margin: 0;
                                padding: 0;
                                background: #e7ecf0;
                                font-family: Arial, Helvetica, sans-serif;
                            }

                            * {
                                margin: 0;
                                padding: 0;
                            }

                            p {
                                font-size: 12px;
                                color: #373737;
                                font-family: Arial, Helvetica, sans-serif;
                                line-height: 18px;
                            }

                                p a {
                                    color: #218bdc;
                                    font-size: 12px;
                                    text-decoration: none;
                                }

                            a {
                                outline: none;
                            }

                            .f-left {
                                float: left;
                            }

                            .f-right {
                                float: right;
                            }

                            .clear {
                                clear: both;
                                overflow: hidden;
                            }

                            #block_error {
                                width: 845px;
                                height: 384px;
                                border: 1px solid #cccccc;
                                margin: 72px auto 0;
                                -moz-border-radius: 4px;
                                -webkit-border-radius: 4px;
                                border-radius: 4px;
                                background: #fff url(http://www.ebpaidrev.com/systemerror/block.gif) no-repeat 0 51px;
                            }

                                #block_error div {
                                    padding: 100px 40px 0 186px;
                                }

                                    #block_error div h2 {
                                        color: #218bdc;
                                        font-size: 24px;
                                        display: block;
                                        padding: 0 0 14px 0;
                                        border-bottom: 1px solid #cccccc;
                                        margin-bottom: 12px;
                                        font-weight: normal;
                                    }
                        </style>
                    </head>
                    <body marginwidth="0" marginheight="0">
                        <div id="block_error">
                            <div>
                                <h2>Error 404. &nbspOops you've have encountered an error</h2>
                                <p>
                                    It apperrs that Either something went wrong or the page doesn't exist anymore..<br />
                                    This website is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
                                </p>
                            </div>
                        </div>

                        <!-- Visual Studio Browser Link -->
                        <script type="application/json" id="__browserLink_initializationData">
                            {"appName":"Chrome","requestId":"437c725c136d4a05ac3334f54443bbc1"}
                        </script>
                        <script type="text/javascript" src="http://localhost:49813/948b167578384205bfba28833c1be242/browserLink" async="async"></script>
                        <!-- End Browser Link -->

                    </body>
                </html>


            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<!-- /#wrapper -->
<!-- jQuery -->
<script src="/Scripts/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/Scripts/bootstrap.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="/Scripts/js/plugins/morris/raphael.min.js"></script>
<script src="/Scripts/js/plugins/morris/morris.min.js"></script>
<script src="/Scripts/js/plugins/morris/morris-data.js"></script>
</body>
</html>