@model ProjectManagerSite.Models.UserVM
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<form id="myForm" method="post">
    @Html.TextBoxFor(item => item.Surname, new { @class = "form-control", placeholder = "Name" })
    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
    <input type="button" onclick="click1()" />
    @Html.ValidationSummary();
</form>

<script>
    function click1()
    {
        alert("1");

        var form = $('#myForm');
        var formData = new FormData(form[0]);

        $.ajax({
            url: '/Home/Test',
            type: 'Post',
            data: formData,
            contentType: false,
            processData: false,
            failor: function (data) {
            },
            success: function (data) {

                if (data.result == 'Redirect') {
                    window.location = data.url;
                }
                else if (data.result == 'Error') {
                    $("#ErrorMessage").html(data.message);
                }
                else {
                    var div = document.getElementById("AjaxBody");
                    var oldScrollTop = div.scrollTop;
                    div.innerHTML = data;
                    div.scrollTop = oldScrollTop;
                    return false;
                }
            }
        });
    }
</script>
